
<div class="container py-4">
    <h4 class="text-center mb-4">DASHBOARD GERENCIA COMERCIAL</h4>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-8">
            <div class="card">
                <div class="card-header  text-bg-info">
                    Planes Comerciales
                </div>
                <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 250px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
            <div class="card text-bg-primary ">
                <div class="card-header">
                    Tarifa Promedio
                    <br>
                    
                    <h3>
                        $ 13,50
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
                <div class="card-header  text-bg-secondary">
                    Participacion de Agencias
                </div>
                <div class="card-body">
                    <div id="piechartdiv" style="width: 100%; height: 250px;"></div>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
                <div class="card-header text-bg-secondary">
                    Equipos Celulares
                </div>
                <div class="card-body">
                    <div id="funneldatadiv" style="width: 100%; height: 250px;"></div>
                </div>
            </div>
        </div>

        
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card">
                <div class="card-header text-bg-secondary">
                    Ejecutivos Mejor TB Promedio
                </div>
                <div class="card-body">
                    <div id="imagechartdiv" style="width: 100%; height: 250px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
